In [2]:
import os
import json
from pprint import pprint

MOJO_DIR = os.path.join('data','boxofficemojo') 
META_DIR = os.path.join('data','metacritic') 
def get_movies(directory):
    '''Returns a list of dictionaries containing information in the
    JSON files of the provided directory, and prints the number
    of movies read'''
    file_contents = os.listdir(directory)
    movie_list=[]
    for filename in file_contents:
        filepath = os.path.join(directory, filename)
        with open(filepath, 'r') as movie_file:
            movie_data = json.load(movie_file)
        if type(movie_data) == dict:
            movie_list.append(movie_data)
    print "Parsed %i movies from %i files" % (len(movie_list),
                                              len(file_contents))
    return movie_list
mojomovies=get_movies(MOJO_DIR)
metacriticmovies=get_movies(META_DIR)

Parsed 3728 movies from 3728 files
Parsed 4765 movies from 4767 files

In [3]:
from datetime import datetime

for movie in mojomovies:
    if movie['release_date_limited']:
        movie['release_date_limited']=datetime.strptime(movie['release_date_limited'],'%Y-%m-%d').date()
    if movie['release_date_wide']:
        movie['release_date_wide']=datetime.strptime(movie['release_date_wide'],'%Y-%m-%d').date()

In [4]:
import numpy as np
import pandas as pd

mojo_df = pd.DataFrame(mojomovies)
meta_df = pd.DataFrame(metacriticmovies)

In [5]:
merged_df = pd.merge(meta_df, mojo_df, how='outer', on='title')

In [6]:
print mojo_df.shape
print meta_df.shape
print merged_df.shape

(3728, 13)
(4765, 16)
(6075, 28)

In [82]:
print mojo_df.columns.values
print meta_df.columns.values
print merged_df.columns.values

[u'alt_title' u'director' u'domestic_gross' u'mojo_slug'
 u'opening_per_theater' u'opening_weekend_take' u'production_budget'
 u'release_date_limited' u'release_date_wide' u'title' u'widest_release'
 u'worldwide_gross' u'year']
[u'complete' u'director' u'genre' u'metacritic_page' u'metascore'
 u'num_critic_reviews' u'num_user_ratings' u'num_user_reviews' u'rating'
 u'release_date' u'runtime_minutes' u'studio' u'title'
 u'unable to retrieve' u'user_score' u'year']
[u'complete' u'director_x' u'genre' u'metacritic_page' u'metascore'
 u'num_critic_reviews' u'num_user_ratings' u'num_user_reviews' u'rating'
 u'release_date' u'runtime_minutes' u'studio' u'title'
 u'unable to retrieve' u'user_score' u'year_x' u'alt_title' u'director_y'
 u'domestic_gross' u'mojo_slug' u'opening_per_theater'
 u'opening_weekend_take' u'production_budget' u'release_date_limited'
 u'release_date_wide' u'widest_release' u'worldwide_gross' u'year_y']

In [11]:
merged_df[['year_x','year_y']]

     year_x  year_y
0      1999    1999
1      2012    2012
2      2008     NaN
3      1996     NaN
4      2000     NaN
5      2011     NaN
6      2013     NaN
7      2005     NaN
8      2009    2009
9      2013     NaN
10     2010    2010
11     2011     NaN
12     2004    2004
13     2014    2014
14     2006    2006
15     2011     NaN
16     2007    2007
17     2006    2006
18     2009    2009
19     2012    2012
20     2007    2007
21     2003    2003
22     2013    2013
23     2013    2013
24     1968     NaN
25     2009    2009
26     2012     NaN
27     2005    2005
28     2013    2013
29     2003    2003
...     ...     ...
6045    NaN    2007
6046    NaN    2010
6047    NaN    2014
6048    NaN    2012
6049    NaN    1990
6050    NaN    1995
6051    NaN    1998
6052    NaN    1999
6053    NaN    1999
6054    NaN    1997
6055    NaN    1987
6056    NaN    1985
6057    NaN    1987
6058    NaN    2009
6059    NaN    2015
6060    NaN    1988
6061    NaN    2005
6062    NaN    2003
6063    NaN    2002
6064    NaN    1983
6065    NaN    2004
6066    NaN    2000
6067    NaN    2013
6068    NaN    2000
6069    NaN    2014
6070    NaN    1988
6071    NaN    2005
6072    NaN    2006
6073    NaN    2015
6074    NaN    2001

[6075 rows x 2 columns]